body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}



.container {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}
header h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.rainbow-button {
    text-decoration:none;
    color:#FFF;
}
.rainbow-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:calc(140px + 14px);
    height:calc(30px + 14px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:0.9em;
    font-weight:bold;
}
.rainbow-button:after {
    content:attr(alt);
    width:140px;
    height:30px;
    background-color: rgba(255, 255, 255, 0.27);
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 4px;
}
.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position:20vw;
    }
}

.blueButton {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.greenButton {
    padding: 8px 16px;
    border: none;
    background-color: #1aff00;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav, footer {
    min-height: 3em;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

